<html>
	<head>
		<title>Statemachine Vending</title>
	    <%= stylesheet_link_tag "layout", :media => "all" %>
	    <%= javascript_include_tag "prototype", "effects", "dragdrop", "controls" %>
	</head>
	<body>
		
		<%= @content_for_layout %>
		
	</body>
</html>